body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(Image.jpeg);
}

header {
    background-color: #161b33;
    padding: 10px;
}
nav p {
    font-size: 30px;
    float: left;
    padding-left: 1.2cm;
    font-family: cursive;
    padding-top: 5.5px;
}

img.profile {
    border-radius: 15px;
    float: right;
    margin-right: 4cm;
    border-style: ridge;
    border-width: 12px;
    border-color: #161b33;
}

img.aboutme {
    border-radius: 15px;
    margin-left: 7cm;
    float:left;
    border-style: ridge;
    border-width: 7px;
    border-color: #161b33;
}

img.familypicture {
    border-radius: 25px;
    margin-left: 9.3cm;
    margin-top: 8px;
    margin-bottom: 8px;
}

img.hobbiespictures{
    border-radius: 20px;
}

p.SmallIntro {
    text-align: left;
    color:yellow;
    font-size: 22px;
    margin-left: 5cm;
    margin-top: 2cm;
    margin-bottom: 15px;
} 

p.Name{
    text-align: left;
    color: white;
    font-size: 48px;
    margin-left: 5cm;
    margin-bottom: 13px;
}
p.Description{
    text-align: left;
    color: white;
    font-size: 24px;
    margin-left: 5cm;
    margin-bottom: 35px;
}

p.Description2{
    text-align: left;
    color: #b4b6b8;
    font-size: 20px;
    margin-left: 5cm;
}

h1.Name {
    margin-left: 38rem;
    margin-top: -11.5rem;
    font-family: cursive;
    color: white;
}

p.Introduction {
    color:white;
    margin-left: 16cm;
    margin-right: 5cm;
    margin-top: 0.9cm;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
}

p.Introduction2 {
    color:white;
    margin-left: 7cm;
    margin-right: 5cm;
    margin-top: 6px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
}

img.relationship {
    border-radius: 25px;
    margin: 0 auto;
    display: block;
}

p.Family {
    text-align: center;
    width: 50rem;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin-top: 2rem;
    font-family: cursive;
}

p.border-bottom {
    border-bottom: 1px dotted black;
    margin: 0 auto;
    width: 80%;
}
table,th,td{
    width: 80%;
    table-layout: fixed;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    margin-left: 3.8cm;
}
tr,th,td{
    padding: 15px;
    color: white;
}

.table2,th,td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    margin-left:.1cm;
    margin-right: .1cm;
}

.table3,th,td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    margin-left:.1cm;
    margin-right: .1cm;
}
.table4,th,td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    margin-left:.2cm;
    margin-right: .2cm;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    img.profile, img.relationship {
        margin-left: 2cm;
    }

    h1.Name {
        margin-left: 1rem;
        margin-top: 1rem;
    }

    p.Introduction, p.Family {
        width: 80%;
        margin-left: 1rem;
    }
}

.button {
    background-color: #161b33;;
    border: 0;
    border-radius: .5rem;
    border: 1px solid #161b33;
    box-sizing: border-box;
    color: white;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-45:active {
    background-color:  #161b33;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.button:hover {
    background-color: #23395d;
    border-color:  #161b33;
}

.button:active:hover,
.button:focus:hover,
.button:focus {
    background-color: #161b33;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.image-button:active {
    background-color:  #161b33;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.image-button:hover {
    background-color: #3066be;
    border-color:  #3066be;
    border-radius: 8px;
}

.image-button:active:hover,
.image-button:focus:hover,
.button:focus {
    background-color: #161b33;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    padding: 5px; /* Adjust padding as needed */
    margin-top: 10px
}

#emailButton,
#phoneButton,
#facebookButton,
#instagramButton {
    color: #fff;
    float: left;
}

#emailButton{
margin-left: 12cm;
}

#phoneButton{
margin-left: 5px;
}
#facebookButton{
margin-left: 5px;
}
#instagramButton{
margin-left: 5px;
}

img.Resume{
    float: center;
    margin-left: 12.5cm;
}

/* Add hover effect to the images */
.hobbiespictures:hover {
    opacity: .4; /* Adjust the opacity as needed */
    cursor: pointer;
    color: #23395d;
}